@import "../../../bundles/app/css/_variables";
@import "../../../bundles/app/css/_flexbox";

/*------------------------- 
VIEW:   Security Module
ROUTE:  /public/security/*
-------------------------*/

div.security {
    /*------------------------- 
    VIEW:   Identity Section
    ROUTE:  /public/security/identity/*
    -------------------------*/
    &.identity {
        /*------------------------- 
	    VIEW:   Login Page
	    ROUTE:  /public/security/identity/login
	    -------------------------*/
        &.login {
            > md-whiteframe {
                width: 35%;
                min-width: 350px;
                height: 50%;
                min-height: 450px;
                background-color: #fff;
                > div.header {
                    padding: 0px 20px 20px 20px;
                    font-size: 1.2em;
                    md-icon {
                        
                        height: 4.5em;
                        width: 4.5em;
                    }
                }
                > div.body {
                    padding: 16px;
                    button {
                        margin: 0px;
                        > md-icon {
                            margin-bottom: 4px;
                        }
                    }
                }
            }
        }
    }
}
