/* 
    SASS Mixins
*/
/*------------------------- 
VIEW:   Security Module
ROUTE:  /public/security/*
-------------------------*/
div.security {
  /*------------------------- 
  VIEW:   Identity Section
  ROUTE:  /public/security/identity/*
  -------------------------*/ }
  div.security.identity {
        /*------------------------- 
	    VIEW:   Login Page
	    ROUTE:  /public/security/identity/login
	    -------------------------*/ }
    div.security.identity.login > md-whiteframe {
      width: 35%;
      min-width: 350px;
      height: 50%;
      min-height: 450px;
      background-color: #fff; }
      div.security.identity.login > md-whiteframe > div.header {
        padding: 0px 20px 20px 20px;
        font-size: 1.2em; }
        div.security.identity.login > md-whiteframe > div.header md-icon {
          height: 4.5em;
          width: 4.5em; }
      div.security.identity.login > md-whiteframe > div.body {
        padding: 16px; }
        div.security.identity.login > md-whiteframe > div.body button {
          margin: 0px; }
          div.security.identity.login > md-whiteframe > div.body button > md-icon {
            margin-bottom: 4px; }

/*# sourceMappingURL=security.css.map */
