@import "../../../bundles/app/css/_variables";
@import "../../../bundles/app/css/_flexbox";
//-----------------------------
// $mdDialog Service , add the class fullscreen when 
// is setted in the configuration options,
// for us, the fullscreen is % =)!
//-----------------------------
md-dialog {
    &.md-dialog-fullscreen {
        height: 97%;
        width: 97%;
        max-height: 97%;
        max-width: 97%;
        position: absolute;
        top: 1.5%;
        left: 1.5%;
        border-radius: 0;
        > md-dialog-actions {
            position: fixed;
            left: 0px;
            right: 0px;
            bottom: 0px;
        }
    }
    > md-dialog-content {
        > div > flex-loading,
        > flex-loading {
            margin-top: 20%;
        }
    }
}

.clickable {
    cursor: pointer;
    outline: none;
    > input,
    > label {
        cursor: pointer;
    }
}

//-----------------------------
// LAYOUT: default-layout
//-----------------------------
.default-layout,
.plain-layout {
    primary-fab {
        position: fixed;
        left: 24px;
        top: 28px;
        width: 56px;
        height: 56px;
        display: inline-block;
        z-index: 10;
        md-fab-trigger > button.md-button {
            margin: 0px 8px 6px 8px
        }
        md-fab-trigger > .md-fab > md-icon,
        md-fab-actions .md-fab > md-icon {
            color: #fff !important;
        }
        > .md-fab {
            padding: 0px !important;
            margin: 0px !important;
            > md-icon {
                color: #fff !important;
            }
        }
        &.md-tall {
            top: 98px;
        }
    }
    page-title {
        position: fixed;
        z-index: 2;
        left: 88px;
        color: #fff;
        font-size: 1.7em;
        right: 16px;
        top: 64px;
        height: 64px;
        @include flexbox();
        @include justify-content(flex-start);
        @include align-items(center);
    }
    page-title.no-primary-fab {
        left: 20px;
    }
    md-content[ui-view] {
        background-color: #F3F3F3;
        > md-progress-linear {
            left: 0px;
            right: 0px;
            position: fixed;
        }
        > flex-loading {
            min-height: 500px;
        }
        md-content {
            &[table-content] {
                background-color: transparent;
                min-height: 505px;
                &.inset {
                    margin-top: 16px;
                    padding: 0px;
                }
                gale-table {
                    gale-header {
                        //Thumg Align to the primary fab
                        gale-column {
                            &:first-child {
                                div.thumb-header {
                                    margin-left: 16px;
                                }
                                padding-left:16px;
                            }
                        }
                    }
                    gale-body {
                        min-height: 350px;
                        overflow: scroll;
                        overflow-x: hidden;
                        //Thumg Align to the primary fab
                        gale-cell {
                            &:first-child {
                                padding-left: 16px;
                            }
                            span.link {
                                text-decoration: underline;
                                cursor: pointer;
                                padding: 8px 8px 8px 0px;
                            }
                        }
                    }
                    gale-row {
                        //Thumg Align to the primary fab
                        gale-cell:first-child {
                            div.thumb {
                                margin-left: 12px;
                            }
                        }
                    }
                }
                md-toolbar {
                    min-height: 48px;
                    height: 48px;
                    background: none;
                    padding: 10px 10px 0px 10px;
                    .md-toolbar-tools {
                        background-color: #Fff;
                        color: rgba(0, 0, 0, 0.87);
                        padding-left: 8px;
                        font-size: 17px;
                        span {
                            i {
                                opacity: 0.6;
                                font-size: 0.8em;
                            }
                        }
                        > button {
                            min-width: auto;
                        }
                    }
                }
                @include box-shadow(3px);
            }
            &[form-content] {
                background-color: transparent;
                min-height: 505px;
                padding: 0px 8px 8px 8px;
                margin-top: 20px;
                button-pad {
                    display: block;
                    position: fixed;
                    bottom: 0px;
                    right: 0px;
                    padding: 16px;
                    height: 48px;
                }
                input[disabled],
                textarea[disabled] {
                    color: #888;
                }
                /* 
                    FIX: https://github.com/gpittarelli/Frontend/commit/54bd5cd72313d1fb07439c2c206c2b94cdd1e601 
                    FIX: https://github.com/angular/material/issues/6214
                */
                md-input-container {
                    .md-errors-spacer {
                        min-height: 0;
                    }
                }
            }
        }
    }
    md-sidenav {
        md-list {
            outline-style: none;
            padding: 0px;
            &.category {
                color: #fff;
                md-icon {
                    color: #fff;
                }
            }
            &.toggled {
                md-icon {
                    transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                }
            }
            button {
                md-icon {
                    margin-right: 16px !important;
                }
            }
            @include noselect();
        }
    }
    md-sidenav {
        div.profile {
            background-color: transparent;
            background-image: url(images/profile-background.jpg);
            background-size: 100% auto;
            background-repeat: no-repeat;
            height: 11em;
            padding-top: 4em;
            padding-left: 1em;
            border-bottom: 3px solid #E91E63;
            margin-bottom: 2em;
            > div.thumb {
                height: 90px;
                width: 90px;
                background-color: #F4F4F4;
                border-radius: 50%;
                margin-bottom: 10px;
                overflow: hidden;
                > img {
                    width: 100%;
                }
            }
            >div.title {
                font-size: 2em;
                color: #FFF;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 95%;
            }
            >div.legend {
                font-size: 1em;
                color: #FFF;
            }
        }
        .close-session {
            position: fixed;
            bottom: 16px;
            width: 100%;
            > button {
                width: 90%
            }
        }
        .kpi {
            outline: none;
            @include flexbox();
            @include align-items(center);
            @include justify-content(center);
            @include flex-direction(column);
            > span {
                cursor: pointer;
                font-size: 4em;
                color: #115AB6;
                > md-icon {
                    height: 36px;
                    width: 36px;
                    color: #115AB6;
                }
            }
            > p {
                cursor: pointer;
                margin: 0px;
                color: #135EB9;
            }
        }
    }
}

//-----------------------------
// LAYOUT: plain-layout
//-----------------------------
.plain-layout {
    page-title {
        right: 0px;
    }
    md-content[ui-view] {
        padding: 0px 0px 5px 0px;
        background-color: #FFF;
        > md-progress-linear {
            margin-top: -40px;
            left: 0px;
            right: 0px;
            position: fixed;
        }
        > flex-loading {
            min-height: 500px;
        }
    }
}
