/* 
    SASS Mixins
*/
md-dialog.md-dialog-fullscreen {
  height: 97%;
  width: 97%;
  max-height: 97%;
  max-width: 97%;
  position: absolute;
  top: 1.5%;
  left: 1.5%;
  border-radius: 0; }
  md-dialog.md-dialog-fullscreen > md-dialog-actions {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px; }
md-dialog > md-dialog-content > div > flex-loading,
md-dialog > md-dialog-content > flex-loading {
  margin-top: 20%; }

.clickable {
  cursor: pointer;
  outline: none; }
  .clickable > input,
  .clickable > label {
    cursor: pointer; }

.default-layout primary-fab,
.plain-layout primary-fab {
  position: fixed;
  left: 24px;
  top: 28px;
  width: 56px;
  height: 56px;
  display: inline-block;
  z-index: 10; }
  .default-layout primary-fab md-fab-trigger > button.md-button,
  .plain-layout primary-fab md-fab-trigger > button.md-button {
    margin: 0px 8px 6px 8px; }
  .default-layout primary-fab md-fab-trigger > .md-fab > md-icon,
  .default-layout primary-fab md-fab-actions .md-fab > md-icon,
  .plain-layout primary-fab md-fab-trigger > .md-fab > md-icon,
  .plain-layout primary-fab md-fab-actions .md-fab > md-icon {
    color: #fff !important; }
  .default-layout primary-fab > .md-fab,
  .plain-layout primary-fab > .md-fab {
    padding: 0px !important;
    margin: 0px !important; }
    .default-layout primary-fab > .md-fab > md-icon,
    .plain-layout primary-fab > .md-fab > md-icon {
      color: #fff !important; }
  .default-layout primary-fab.md-tall,
  .plain-layout primary-fab.md-tall {
    top: 98px; }
.default-layout page-title,
.plain-layout page-title {
  position: fixed;
  z-index: 2;
  left: 88px;
  color: #fff;
  font-size: 1.7em;
  right: 16px;
  top: 64px;
  height: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }
.default-layout page-title.no-primary-fab,
.plain-layout page-title.no-primary-fab {
  left: 20px; }
.default-layout md-content[ui-view],
.plain-layout md-content[ui-view] {
  background-color: #F3F3F3; }
  .default-layout md-content[ui-view] > md-progress-linear,
  .plain-layout md-content[ui-view] > md-progress-linear {
    left: 0px;
    right: 0px;
    position: fixed; }
  .default-layout md-content[ui-view] > flex-loading,
  .plain-layout md-content[ui-view] > flex-loading {
    min-height: 500px; }
  .default-layout md-content[ui-view] md-content[table-content],
  .plain-layout md-content[ui-view] md-content[table-content] {
    background-color: transparent;
    min-height: 505px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12); }
    .default-layout md-content[ui-view] md-content[table-content].inset,
    .plain-layout md-content[ui-view] md-content[table-content].inset {
      margin-top: 16px;
      padding: 0px; }
    .default-layout md-content[ui-view] md-content[table-content] gale-table gale-header gale-column:first-child,
    .plain-layout md-content[ui-view] md-content[table-content] gale-table gale-header gale-column:first-child {
      padding-left: 16px; }
      .default-layout md-content[ui-view] md-content[table-content] gale-table gale-header gale-column:first-child div.thumb-header,
      .plain-layout md-content[ui-view] md-content[table-content] gale-table gale-header gale-column:first-child div.thumb-header {
        margin-left: 16px; }
    .default-layout md-content[ui-view] md-content[table-content] gale-table gale-body,
    .plain-layout md-content[ui-view] md-content[table-content] gale-table gale-body {
      min-height: 350px;
      overflow: scroll;
      overflow-x: hidden; }
      .default-layout md-content[ui-view] md-content[table-content] gale-table gale-body gale-cell:first-child,
      .plain-layout md-content[ui-view] md-content[table-content] gale-table gale-body gale-cell:first-child {
        padding-left: 16px; }
      .default-layout md-content[ui-view] md-content[table-content] gale-table gale-body gale-cell span.link,
      .plain-layout md-content[ui-view] md-content[table-content] gale-table gale-body gale-cell span.link {
        text-decoration: underline;
        cursor: pointer;
        padding: 8px 8px 8px 0px; }
    .default-layout md-content[ui-view] md-content[table-content] gale-table gale-row gale-cell:first-child div.thumb,
    .plain-layout md-content[ui-view] md-content[table-content] gale-table gale-row gale-cell:first-child div.thumb {
      margin-left: 12px; }
    .default-layout md-content[ui-view] md-content[table-content] md-toolbar,
    .plain-layout md-content[ui-view] md-content[table-content] md-toolbar {
      min-height: 48px;
      height: 48px;
      background: none;
      padding: 10px 10px 0px 10px; }
      .default-layout md-content[ui-view] md-content[table-content] md-toolbar .md-toolbar-tools,
      .plain-layout md-content[ui-view] md-content[table-content] md-toolbar .md-toolbar-tools {
        background-color: #Fff;
        color: rgba(0, 0, 0, 0.87);
        padding-left: 8px;
        font-size: 17px; }
        .default-layout md-content[ui-view] md-content[table-content] md-toolbar .md-toolbar-tools span i,
        .plain-layout md-content[ui-view] md-content[table-content] md-toolbar .md-toolbar-tools span i {
          opacity: 0.6;
          font-size: 0.8em; }
        .default-layout md-content[ui-view] md-content[table-content] md-toolbar .md-toolbar-tools > button,
        .plain-layout md-content[ui-view] md-content[table-content] md-toolbar .md-toolbar-tools > button {
          min-width: auto; }
  .default-layout md-content[ui-view] md-content[form-content],
  .plain-layout md-content[ui-view] md-content[form-content] {
    background-color: transparent;
    min-height: 505px;
    padding: 0px 8px 8px 8px;
    margin-top: 20px;
    /* 
        FIX: https://github.com/gpittarelli/Frontend/commit/54bd5cd72313d1fb07439c2c206c2b94cdd1e601 
        FIX: https://github.com/angular/material/issues/6214
    */ }
    .default-layout md-content[ui-view] md-content[form-content] button-pad,
    .plain-layout md-content[ui-view] md-content[form-content] button-pad {
      display: block;
      position: fixed;
      bottom: 0px;
      right: 0px;
      padding: 16px;
      height: 48px; }
    .default-layout md-content[ui-view] md-content[form-content] input[disabled],
    .default-layout md-content[ui-view] md-content[form-content] textarea[disabled],
    .plain-layout md-content[ui-view] md-content[form-content] input[disabled],
    .plain-layout md-content[ui-view] md-content[form-content] textarea[disabled] {
      color: #888; }
    .default-layout md-content[ui-view] md-content[form-content] md-input-container .md-errors-spacer,
    .plain-layout md-content[ui-view] md-content[form-content] md-input-container .md-errors-spacer {
      min-height: 0; }
.default-layout md-sidenav md-list,
.plain-layout md-sidenav md-list {
  outline-style: none;
  padding: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .default-layout md-sidenav md-list.category,
  .plain-layout md-sidenav md-list.category {
    color: #fff; }
    .default-layout md-sidenav md-list.category md-icon,
    .plain-layout md-sidenav md-list.category md-icon {
      color: #fff; }
  .default-layout md-sidenav md-list.toggled md-icon,
  .plain-layout md-sidenav md-list.toggled md-icon {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg); }
  .default-layout md-sidenav md-list button md-icon,
  .plain-layout md-sidenav md-list button md-icon {
    margin-right: 16px !important; }
.default-layout md-sidenav div.profile,
.plain-layout md-sidenav div.profile {
  background-color: transparent;
  background-image: url(images/profile-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 11em;
  padding-top: 4em;
  padding-left: 1em;
  border-bottom: 3px solid #E91E63;
  margin-bottom: 2em; }
  .default-layout md-sidenav div.profile > div.thumb,
  .plain-layout md-sidenav div.profile > div.thumb {
    height: 90px;
    width: 90px;
    background-color: #F4F4F4;
    border-radius: 50%;
    margin-bottom: 10px;
    overflow: hidden; }
    .default-layout md-sidenav div.profile > div.thumb > img,
    .plain-layout md-sidenav div.profile > div.thumb > img {
      width: 100%; }
  .default-layout md-sidenav div.profile > div.title,
  .plain-layout md-sidenav div.profile > div.title {
    font-size: 2em;
    color: #FFF;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 95%; }
  .default-layout md-sidenav div.profile > div.legend,
  .plain-layout md-sidenav div.profile > div.legend {
    font-size: 1em;
    color: #FFF; }
.default-layout md-sidenav .close-session,
.plain-layout md-sidenav .close-session {
  position: fixed;
  bottom: 16px;
  width: 100%; }
  .default-layout md-sidenav .close-session > button,
  .plain-layout md-sidenav .close-session > button {
    width: 90%; }
.default-layout md-sidenav .kpi,
.plain-layout md-sidenav .kpi {
  outline: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .default-layout md-sidenav .kpi > span,
  .plain-layout md-sidenav .kpi > span {
    cursor: pointer;
    font-size: 4em;
    color: #115AB6; }
    .default-layout md-sidenav .kpi > span > md-icon,
    .plain-layout md-sidenav .kpi > span > md-icon {
      height: 36px;
      width: 36px;
      color: #115AB6; }
  .default-layout md-sidenav .kpi > p,
  .plain-layout md-sidenav .kpi > p {
    cursor: pointer;
    margin: 0px;
    color: #135EB9; }

.plain-layout page-title {
  right: 0px; }
.plain-layout md-content[ui-view] {
  padding: 0px 0px 5px 0px;
  background-color: #FFF; }
  .plain-layout md-content[ui-view] > md-progress-linear {
    margin-top: -40px;
    left: 0px;
    right: 0px;
    position: fixed; }
  .plain-layout md-content[ui-view] > flex-loading {
    min-height: 500px; }

/*# sourceMappingURL=layouts.css.map */
