@import "../../../css/_variables";
@import "../../../css/_flexbox";
flex-loading {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    height: 100%;
    width: 100%;
    text-align: left;
    .image {
        img {
            height: 4em;
            width: 4em;
            margin-right: 1em;
        }
    }
    .message {
        font-size: 1.2em;
        opacity: 0.5;
        text-align: left;
    }
    .legend {
        opacity: 0.4;
        margin-top: 0.5em;
        font-size: 0.9em;
        line-height: 1em;
        text-align: left;
    }
}
