<md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools">Bitácora</h1>
</md-toolbar>
<md-content layout-padding>
    <primary-fab class="md-tall">
        <md-button class="md-fab" aria-label="ap" ng-click="close();">
            <md-icon md-svg-src="content:clear"></md-icon>
        </md-button>
    </primary-fab>
    <br />
    <br />
    <form>
        <!-- -->
        <gale-table items="history" show-header="false" ng-if="history">
            <gale-column width="10">
                <gale-item>
                    <template>
                        <history-icon ng-model="item.state">
                        </history-icon>
                    </template>
                </gale-item>
            </gale-column>
            <gale-column>
                <gale-item>
                    <template>
                        <div layout="column" layout-fill class="history item">
                            <div class="entity" flex>
                                <span ng-if="item.updatedAt">{{item.updatedBy.name}}</span>
                                <span ng-if="!item.updatedAt">&nbsp;</span>
                            </div>
                            <div class="state" flex>
                                {{item.state.name}}
                            </div>
                            <div class="date" title="{{item.updatedAt | amDateFormat:'dddd MM, HH:mm:ss'}}" flex>
                                <span am-time-ago="item.updatedAt" ng-if="item.updatedAt"></span>
                                <span ng-if="!item.updatedAt">Estado Actual</span>
                            </div>
                        </div>
                    </template>
                </gale-item>
            </gale-column>
        </gale-table>
        <!-- -->
    </form>
</md-content>
