<!-- LINEAR PROGRESS -->
<md-progress-linear ng-if="!model.workOrder" md-mode="indeterminate" class="md-primary">
</md-progress-linear>

<!-- PRIMARY BUTTON -->
<primary-fab class="md-tall">
    <md-button class="md-fab" aria-label="ap" ng-click="back()">
        <md-tooltip md-direction="right">
            {{ 'GLOBAL.NAVIGATION_BACK' | localize }}
        </md-tooltip>
        <md-icon md-svg-src="hardware:keyboard_backspace"></md-icon>
    </md-button>
</primary-fab>

<!-- PAGE TITLE-->
<page-title>
    Inform Orden de Trabajo > {{model.workOrder.name}}
</page-title>
<md-content form-content class="worker-order validate index">
    <!-- CONTENT -->
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="detailsNav">
        <!-- TOOLBAR -->
        <md-toolbar class="md-primary md-tall">
            <h1 class="md-toolbar-tools">{{panel.name}}</h1>
        </md-toolbar>
        <!-- PRIMARY BUTTON -->
        <primary-fab class="md-tall">
            <md-button class="md-fab" aria-label="ap" ng-click="panel.close()">
                <md-icon md-svg-src="content:clear"></md-icon>
            </md-button>
        </primary-fab>
        <!-- SIDENAV CONTENT -->
        <md-content>
            <history-information ng-model="data"></history-information>
        </md-content>
    </md-sidenav>
    <!-- CONTENT -->
    <form name="form" ng-if="model.workOrder">
        <div layout="row">
            <div flex="25" class="left-box" layout-align="start center" layout="column">

                <img class="company" ng-src="bundles/app/components/flex-loading/css/images/isotipo.png" />
                <upload-file class="avatar" ng-model="model.workOrder.assignedTo.avatar" ng-disabled="true">
                </upload-file>
                <br />
                <br />
                <md-button class="md-raised md-accent" ng-click="panel.preferences(model)">
                    <md-icon md-svg-src="action:query_builder"></md-icon>
                    &nbsp;Ver Bitacora
                </md-button>

                <br />
                <br />
                <div class="slider" ng-if="model.report.files.length > 0">
                    <upload-file ng-model="model.report.files[0].token" ng-disabled="true">
                    </upload-file>
                </div>
            </div>
            <div flex="75" layout-padding>
                <!-- ROW -->
                <div layout="row">
                    <!-- -->
                    <md-input-container class="md-block" flex="50">
                        <label>Componente</label>
                        <md-icon md-svg-icon="action:build" class="md-primary text"></md-icon>
                        <input ng-model="model.workOrder.component.name" readonly="">
                    </md-input-container>
                    <!-- -->
                    <spacer flex="5"></spacer>
                    <!-- -->
                    <md-input-container class="md-block" flex="50">
                        <label>Asignado a</label>
                        <md-icon md-svg-icon="action:face" class="md-primary text"></md-icon>
                        <input ng-model="model.workOrder.assignedTo.name" readonly="">
                    </md-input-container>
                    <!-- -->
                </div>
                <!-- ROW -->
                <div layout="row">
                    <!-- -->
                    <md-input-container class="md-block" flex>
                        <label>Observaciones</label>
                        <md-icon md-svg-icon="action:subject" class="md-primary text"></md-icon>
                        <textarea rows="4" ng-model="model.report.observations" readonly=""></textarea>
                    </md-input-container>
                    <!-- -->
                </div>
                <!-- ROW -->
                <div layout="row" class="activities">
                    <!-- -->
                    <div flex="60">
                        <md-list>
                            <md-subheader class="md-no-sticky">
                                Actividades
                            </md-subheader>
                        </md-list>
                        <md-list class="list-box">
                            <md-list-item ng-repeat="item in model.report.activities">
                                <md-checkbox class="md-secondary" disabled ng-model="item.completed"></md-checkbox>
                                <p style="padding-right:24px">
                                    {{item.name}}
                                </p>
                            </md-list-item>
                        </md-list>
                    </div>
                    <!-- -->
                    <spacer flex="5"></spacer>
                    <!-- -->
                    <div flex>
                        <md-list>
                            <md-subheader class="md-no-sticky">
                                Ubicación del Informe
                            </md-subheader>
                        </md-list>
                        <ui-gmap-google-map center="model.map.center" zoom="model.map.zoom" options="model.map.options">
                            <ui-gmap-marker idKey='"myKey"' coords='model.map.center'>
                            </ui-gmap-marker>
                        </ui-gmap-google-map>
                    </div>
                    <!-- -->
                </div>
            </div>
        </div>
        <!-- BUTTON PAD -->
        <button-pad>
            <md-button aria-label="al" ng-click="action('RECH', model.report)" class="md-raised md-primary">
                Rechazar
            </md-button>
            <md-button aria-label="al" ng-click="action('APRO', model.report)" class="md-raised md-accent">
                Aprobar Informe
            </md-button>
        </button-pad>
    </form>
</md-content>
