/* 
    SASS Mixins
*/
/*------------------------- 
VIEW:   Worker Orders Module
ROUTE:  /app/home/*
-------------------------*/
.worker-order.view.index {
  margin-top: 40px; }
  .worker-order.view.index div.left-box img.company {
    height: 10em; }
  .worker-order.view.index div.left-box upload-file > div.thumb {
    height: 3em;
    width: 3em;
    border: 2px solid #F3F3F3;
    margin-top: -2em;
    margin-left: 5em; }
  .worker-order.view.index div.left-box button {
    padding: 4px 16px; }
.worker-order.validate.index {
  margin-top: 40px; }
  .worker-order.validate.index div.left-box img.company {
    height: 10em; }
  .worker-order.validate.index div.left-box upload-file.avatar > div.thumb {
    height: 3em;
    width: 3em;
    border: 2px solid #F3F3F3;
    margin-top: -2em;
    margin-left: 5em; }
  .worker-order.validate.index div.left-box button {
    padding: 4px 16px; }
  .worker-order.validate.index div.slider upload-file {
    border: 1px solid #9A9A9A; }
    .worker-order.validate.index div.slider upload-file div.thumb {
      border: 6px solid #FFF;
      margin-bottom: 0px;
      box-shadow: -2px -2px 9px #A7A7A7;
      border-radius: 2px; }
  .worker-order.validate.index div.activities .md-subheader > div {
    padding: 0px 16px; }
  .worker-order.validate.index div.activities md-list.list-box {
    height: 15em;
    overflow: auto; }
  .worker-order.validate.index div.activities .md-list-item p {
    padding-right: 24px; }
  .worker-order.validate.index div.activities .angular-google-map-container {
    height: 16em; }

/*# sourceMappingURL=workerOrder.css.map */
