@import "../../../bundles/app/css/_variables";
@import "../../../bundles/app/css/_flexbox";

/*------------------------- 
VIEW:   Worker Orders Module
ROUTE:  /app/home/*
-------------------------*/

.worker-order {
    &.view {
        &.index {
            margin-top: 40px;
            div.left-box {
                img.company {
                    height: 10em;
                }
                upload-file {
                    > div.thumb {
                        height: 3em;
                        width: 3em;
                        border: 2px solid #F3F3F3;
                        margin-top: -2em;
                        margin-left: 5em;
                    }
                }
                button {
                    padding: 4px 16px;
                }
            }
        }
    }
    &.validate {
        &.index {
            margin-top: 40px;
            div.left-box {
                img.company {
                    height: 10em;
                }
                upload-file.avatar {
                    > div.thumb {
                        height: 3em;
                        width: 3em;
                        border: 2px solid #F3F3F3;
                        margin-top: -2em;
                        margin-left: 5em;
                    }
                }
                button {
                    padding: 4px 16px;
                }
            }
            div.slider {
                upload-file {
                    border: 1px solid #9A9A9A;
                    div.thumb {
                        border: 6px solid #FFF;
                        margin-bottom: 0px;
                        box-shadow: -2px -2px 9px #A7A7A7;
                        border-radius: 2px;
                    }
                }
            }
            div.activities {
                .md-subheader {
                    > div {
                        padding: 0px 16px;
                    }
                }
                md-list.list-box {
                    height: 15em;
                    overflow: auto;
                }
                .md-list-item {
                    p {
                        padding-right: 24px;
                    }
                }
                .angular-google-map-container {
                    height: 16em;
                }
            }
        }
    }
}
