@import "../../../../../bundles/app/css/_variables";
@import "../../../../../bundles/app/css/_flexbox";
md-dialog.observation-dialog {
    md-dialog-content {
        min-width: 600px;
        max-width: 600px;
        height: auto;
        > md-content {
            padding: 32px;
            height: 100%;

        }
        h2 {
            margin: 8px 0px;
            font-size: 0.9em;
            font-weight: normal;
        }
    }
    md-dialog-actions {
        padding: 8px 16px;
        button {
            padding: 0px 16px;
        }
    }
}
