/* 
    SASS Mixins
*/
$primary_color: #3F51B5;
$accent_color: #E91E63;

@mixin text-shadow($hAxis:2px, $vAxis:2px, $blur:0px, $color:#000) {
    text-shadow: $hAxis $vAxis $blur $color;
}

@mixin box-shadow($size) {
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2), 0 $size 4px 0 rgba(0, 0, 0, .14), 0 $size $size -2px rgba(0, 0, 0, .12)
}

@mixin noselect() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin grayscale {
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    /* Firefox 10+, Firefox on Android */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

@mixin placeholder-color($color) {
    &::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: $color;
    }
    &:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: $color;
        opacity: 1;
    }
    &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: $color;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $color;
    }
    &:placeholder-shown {
        /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
        color: $color;
    }
}

@mixin transform($value) {
    -ms-transform: $value;
    /* IE 9 */
    -webkit-transform: $value;
    /* Chrome, Safari, Opera */
    transform: $value;
}
