@import "_variables";
@import "_flexbox";

/* RESPONSIVE HELPER CLASES */
.show-on-responsive {
    display: none;
}

@media only screen and (max-width: 800px) {
    .hide-on-responsive {
        display: none !important;
    }
    .show-on-responsive {
        display: block !important;
    }
}

/* DEFAULT STYLES */
