<md-dialog aria-label="dd" class="observation-dialog">
    <form name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Observaciones</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-icon="content:clear" aria-label="Cancelar"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-content>
                <form name="form">
                    <div>
                        <!-- -->
                        <md-input-container class="md-block">
                            <label>Observación:</label>
                            <textarea rows="8" md-select-on-focus md-maxlength="500" ng-model="model.comment" md-autofocus required ></textarea>
                        </md-input-container>
                        <!-- -->
                    </div>
                </form>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">
                Cancelar
            </md-button>
            <md-button class="md-raised md-primary" ng-click="save(model)" ng-disabled="form.$invalid">
                Guardar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
