<md-dialog aria-label="dd" class="account-dialog">
    <form name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Cuenta de Portal del Inversionista</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-icon="content:clear" aria-label="Cancelar"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-content>
                <form name="form">
                    <div layout="row">
                        <!-- -->
                        <md-input-container class="md-block" flex>
                            <label>Nombre Completo</label>
                            <input ng-model="model.name" md-autofocus required>
                        </md-input-container>
                        <!-- -->
                    </div>
                    <div layout="row">
                        <!-- -->
                        <md-input-container class="md-block" flex="70">
                            <label>E-mail</label>
                            <input ng-model="model.email" ng-email required>
                        </md-input-container>
                        <!-- -->
                    </div>
                </form>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">
                Cancelar
            </md-button>
            <md-button class="md-raised md-primary" ng-click="save(model)" ng-disabled="form.$invalid">
                Guardar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
