@import "../../../css/_variables";
@import "../../../css/_flexbox";
empty-data {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    padding: 0px 16px 16px 16px;
    opacity: 0.6;
}
