history-information {
    div.history {
        &.item {
        	padding:5px;
            div.entity {
                font-size: 1em;
                color: #888;
                padding-bottom: 4px;
            }
            div.state {
                font-size: 1.2em;
                text-transform: uppercase;
                color: #3F51B5;
                padding-bottom: 2px;
            }
            div.date {
                padding-bottom: 5px;
                color: #888;
                text-align: right;
                font-size: 0.9em;
            }
        }
    }
}
