history-information div.history.item {
  padding: 5px; }
  history-information div.history.item div.entity {
    font-size: 1em;
    color: #888;
    padding-bottom: 4px; }
  history-information div.history.item div.state {
    font-size: 1.2em;
    text-transform: uppercase;
    color: #3F51B5;
    padding-bottom: 2px; }
  history-information div.history.item div.date {
    padding-bottom: 5px;
    color: #888;
    text-align: right;
    font-size: 0.9em; }

/*# sourceMappingURL=history-information.css.map */
