/* 
    SASS Mixins
*/
/*------------------------- 
VIEW:   Accounts Module
ROUTE:  /app/accounts/*
-------------------------*/
.accounts {
  /*------------------------- 
  VIEW:   List Module
  ROUTE:  /app/accounts/*
  -------------------------*/
  /*------------------------- 
  VIEW:   Edit and Create Modules
  ROUTE:  /app/accounts/edit/*
  ROUTE:  /app/accounts/create/*
  -------------------------*/ }
  .accounts.index[table-content] gale-body {
    min-height: 395px !important; }
  .accounts.create div.rows, .accounts.edit div.rows {
    height: 250px;
    overflow: auto;
    overflow-x: hidden; }
    .accounts.create div.rows div.rol-item, .accounts.edit div.rows div.rol-item {
      outline: none;
      padding: 0.7em;
      border-bottom: 1px solid #E4E4E4;
      padding-left: 8px;
      padding-right: 0px; }
      .accounts.create div.rows div.rol-item > div, .accounts.edit div.rows div.rol-item > div {
        display: flex;
        align-items: center;
        padding-left: 0.5em; }
        .accounts.create div.rows div.rol-item > div:last-child, .accounts.edit div.rows div.rol-item > div:last-child {
          font-style: italic;
          opacity: 0.7; }
      .accounts.create div.rows div.rol-item md-switch, .accounts.edit div.rows div.rol-item md-switch {
        margin: 0px; }
      .accounts.create div.rows div.rol-item:last-child, .accounts.edit div.rows div.rol-item:last-child {
        border-bottom: none; }
  .accounts.create md-input-container, .accounts.edit md-input-container {
    margin: 25px 0; }
  .accounts.create md-content[table-content].inset, .accounts.edit md-content[table-content].inset {
    min-height: 315px; }
  .accounts.create .recover, .accounts.edit .recover {
    margin-right: 4em; }

/*# sourceMappingURL=edit.css.map */
