@import "../../../bundles/app/css/_variables";
@import "../../../bundles/app/css/_flexbox";

/*------------------------- 
VIEW:   Accounts Module
ROUTE:  /app/accounts/*
-------------------------*/

.accounts {
    /*------------------------- 
    VIEW:   List Module
    ROUTE:  /app/accounts/*
    -------------------------*/
    &.index {
        &[table-content] {
            gale-body {
                min-height: 395px !important;
            }
        }
    }
    /*------------------------- 
    VIEW:   Edit and Create Modules
    ROUTE:  /app/accounts/edit/*
    ROUTE:  /app/accounts/create/*
    -------------------------*/
    &.create,
    &.edit {
        div.rows {
            height: 250px;
            overflow: auto;
            overflow-x: hidden;
            div.rol-item {
                outline: none;
                padding: 0.7em;
                border-bottom: 1px solid #E4E4E4;
                padding-left: 8px;
                padding-right: 0px;
                > div {
                    display: flex;
                    align-items: center;
                    padding-left: 0.5em;
                    &:last-child {
                        font-style: italic;
                        opacity: 0.7;
                    }
                }
                md-switch {
                    margin: 0px;
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }
        md-input-container {
            margin: 25px 0;
        }
        md-content {
            &[table-content].inset {
                min-height: 315px;
            }
        }
        .recover {
            margin-right: 4em;
        }
    }
}
