@import "../../../../../bundles/app/css/_variables";
@import "../../../../../bundles/app/css/_flexbox";

upload-file {
    display: block;
    //THUMB
    > div.thumb {
        height: 150px;
        background-color: #F4F4F4;
        width: 150px;
        border-radius: 50%;
        margin-bottom: 10px;
        overflow: hidden;
        > img {
            width: 100%;
        }
        //UPLOAD FILE THUMB 
        > div.loading {
            height: 150px;
            width: 150px;
            position: absolute;
            text-align: center;
            color: #FF5722;
            > div.chart {
                height: 150px;
                width: 150px;
            }
            > md-icon {
                height: 48px;
                width: 48px;
                margin-top: -127px;
            }
            g#n3-pie-legend {
                -webkit-transform: translate(0px, 20px);
            }
        }
    }
}
