/* 
    SASS Mixins
*/
upload-file {
  display: block; }
  upload-file > div.thumb {
    height: 150px;
    background-color: #F4F4F4;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    overflow: hidden; }
    upload-file > div.thumb > img {
      width: 100%; }
    upload-file > div.thumb > div.loading {
      height: 150px;
      width: 150px;
      position: absolute;
      text-align: center;
      color: #FF5722; }
      upload-file > div.thumb > div.loading > div.chart {
        height: 150px;
        width: 150px; }
      upload-file > div.thumb > div.loading > md-icon {
        height: 48px;
        width: 48px;
        margin-top: -127px; }
      upload-file > div.thumb > div.loading g#n3-pie-legend {
        -webkit-transform: translate(0px, 20px); }

/*# sourceMappingURL=upload-file.css.map */
