<md-menu md-position-mode="target-right target">
    <div ng-click="openMenu($mdOpenMenu,$event)">
        <md-button aria-label="Open demo menu" class="md-icon-button">
            <md-icon md-menu-origin md-svg-icon="social:notifications_none"></md-icon>
        </md-button>
        <div class="badge" ng-if="notification_counter>0" ng-class="{'one-digit': items.length<=10}">
            {{items.length}}
        </div>
    </div>
    <md-menu-content width="4" class="notification-menu">
        <md-menu-item ng-repeat="item in items" ng-click="showNotifications()">
            <md-button>
                <div layout="row" flex class="{{item.type.identifier}}">
                    <md-icon md-menu-origin md-svg-icon="{{item.icon}}"></md-icon>
                    <p flex>{{item.text}}</p>
                </div>
            </md-button>
        </md-menu-item>
        <div ng-if="items.length==0" class="notification-empty">
            <center>
                <md-icon md-menu-origin md-svg-icon="av:not_interested"></md-icon>
                No hay notificaciones pendientes
            </center>
        </div>
    </md-menu-content>
</md-menu>
