<!-- LINEAR PROGRESS -->
<md-progress-linear ng-show="!model.chart" md-mode="indeterminate" class="md-primary">
</md-progress-linear>

<!-- LOADING -->
<flex-loading ng-if="!model.chart">
</flex-loading>

<gale-page class="dashboard" ng-if="model.chart">
    <page-title class="no-primary-fab">
        Dashboard
    </page-title>
    <div layout="row">
        <!-- -->
        <div flex="35">
            <div class="md-whiteframe-1dp white-box">
                <!-- -->
                <div class="title">
                    <div class="icon">
                        <div>
                            <img ng-src="views/home/css/images/escudo.png" />
                        </div>
                    </div>

                    <div class="title">
                        Dashboard
                    </div>
                    <div class="actions">
                        <md-icon class="chevron" md-svg-icon="navigation:more_vert"></md-icon>
                    </div>
                </div>
                <!-- -->
                <div class="content">
                    <!-- CHART -->
                    <div class="progress-chart" ng-if="model.chart">
                        <canvas height="100%" width="100%" class="chart chart-doughnut" chart-legend="true" chart-colours="model.chart.colours" chart-data="model.chart.data" chart-labels="model.chart.labels" chart-options="model.chart.options">
                        </canvas>
                    </div>

                </div>
                <!-- -->
            </div>
            <br />
            <div class="md-whiteframe-1dp white-box">
                <!-- -->
                <div class="title">
                    <div class="icon">
                        <div>
                            <img ng-src="views/home/css/images/escudo.png" />
                        </div>
                    </div>

                    <div class="title">
                        Pendientes de Aprobación
                    </div>
                    <div class="actions">
                        <md-icon class="chevron" md-svg-icon="navigation:more_vert"></md-icon>
                    </div>
                </div>
                <!-- -->
                <div class="content">
                    <div class="counter">
                        <span class="md-primary text">
                            {{model.waitingForApprovals}}
                        </span>
                        <div class="legend">
                            Ordenes de Trabajo Pendientes de Aprobación
                        </div>
                    </div>
                </div>
                <!-- -->
            </div>
        </div>
        <!-- -->
        <div flex>
        </div>
        <!-- -->
        <div flex="60">
            <div class="md-whiteframe-1dp white-box full">
                <!-- -->
                <div class="title">
                    <div class="icon">
                        <div>
                            <img ng-src="views/home/css/images/notificaciones.png" />
                        </div>
                    </div>

                    <div class="title">
                        Ordenes de Trabajo
                    </div>
                    <div class="actions">
                        <md-icon class="chevron" md-svg-icon="navigation:more_vert"></md-icon>
                    </div>
                </div>
                <!-- -->
                <div class="content work-orders">
                    <!-- LOADING -->
                    <flex-loading ng-if="!model.pendings" title="Obteniendo Pendientes">
                    </flex-loading>

                    <!-- ITEM'S -->
                    <md-list>
                        <md-list-item ng-click="details(item);" ng-repeat="item in model.pendings">
                            <div class="state" flex="10">
                                <avatar>
                                    <md-tooltip>    
                                        {{item.assignedTo.name}}
                                    </md-tooltip>
                                    <div class="halo">
                                        <div>
                                            <img ng-src="{{item.assignedTo.avatar | file}}" />
                                        </div>
                                    </div>
                                </avatar>
                                <div style="background-color:{{item.groupedColor}}">
                                    <md-tooltip>    
                                        {{item.state.name}}
                                    </md-tooltip>
                                </div>
                            </div>
                            <div flex class="information">
                                <div class="title">
                                    {{ item.name }}
                                </div>
                                <div class="name">
                                    {{item.component.name}}
                                </div>
                            </div>
                            <md-icon flex="5" md-svg-src="hardware:keyboard_arrow_right"></md-icon>
                        </md-list-item>
                    </md-list>
                </div>
            </div>
        </div>
        <!-- -->
    </div>

</gale-page>
