<md-dialog aria-label="dd" class="loading-dialog {{config.classToAdd}}">
    <md-progress-linear md-mode="indeterminate" class="md-primary">
    </md-progress-linear>
    <div>
        <flex-loading title="{{title}}" legend="{{legend}}">
        </flex-loading>
    </div>
</md-dialog>
