/* 
    SASS Mixins
*/
md-dialog.account-dialog md-dialog-content {
  min-width: 500px;
  max-width: 500px;
  height: auto; }
  md-dialog.account-dialog md-dialog-content > md-content {
    padding: 32px;
    height: 100%; }
  md-dialog.account-dialog md-dialog-content .md-errors-spacer {
    display: none; }
  md-dialog.account-dialog md-dialog-content h2 {
    margin: 8px 0px;
    font-size: 0.9em;
    font-weight: normal; }
md-dialog.account-dialog md-dialog-actions {
  padding: 8px 16px; }
  md-dialog.account-dialog md-dialog-actions button {
    padding: 0px 16px; }

/*# sourceMappingURL=account.css.map */
