<!-- LINEAR PROGRESS -->
<md-progress-linear ng-if="!model.workOrder" md-mode="indeterminate" class="md-primary">
</md-progress-linear>

<!-- PRIMARY BUTTON -->
<primary-fab class="md-tall">
    <md-button class="md-fab" aria-label="ap" ng-click="back()">
        <md-tooltip md-direction="right">
            {{ 'GLOBAL.NAVIGATION_BACK' | localize }}
        </md-tooltip>
        <md-icon md-svg-src="hardware:keyboard_backspace"></md-icon>
    </md-button>
</primary-fab>

<!-- PAGE TITLE-->
<page-title>
    Orden de Trabajo > {{model.workOrder.name}}
</page-title>
<md-content form-content class="worker-order view index">
    <!-- CONTENT -->
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="detailsNav">
        <!-- TOOLBAR -->
        <md-toolbar class="md-primary md-tall">
            <h1 class="md-toolbar-tools">{{panel.name}}</h1>
        </md-toolbar>
        <!-- PRIMARY BUTTON -->
        <primary-fab class="md-tall">
            <md-button class="md-fab" aria-label="ap" ng-click="panel.close()">
                <md-icon md-svg-src="content:clear"></md-icon>
            </md-button>
        </primary-fab>
        <!-- SIDENAV CONTENT -->
        <md-content>
            <telephone-viewer ng-model="model.telephones" ng-if="panel.identifier =='TELE'"></telephone-viewer>
            <contact-viewer ng-model="model.representatives" ng-if="panel.identifier =='REPR'"></contact-viewer>
            <contact-viewer ng-model="model.contacts" ng-if="panel.identifier =='CONT'"></contact-viewer>
            <bank-viewer ng-model="model.banks" ng-if="panel.identifier =='BANK'"></bank-viewer>
            <!-- PREFERENCES -->
            <div ng-if="panel.identifier =='PREF'">
                <!-- -->
                <md-input-container class="md-block">
                    <label>Tipo de Contrato</label>
                    <md-select ng-model="model.contract" required>
                        <md-option ng-repeat="item in collections.contractTypes" ng-value="item">
                            {{item.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <span>&nbsp;</span>
                <!-- -->
                <md-input-container class="md-block">
                    <label>Tipo de Transacción por Defecto</label>
                    <md-select ng-model="model.transationType" required>
                        <md-option ng-repeat="item in collections.transactionTypes" ng-value="item">
                            {{item.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <span>&nbsp;</span>
                <!-- -->
                <md-input-container class="md-block">
                    <label>Condición de Pago por Defecto</label>
                    <md-select ng-model="model.payCondition" required>
                        <md-option ng-repeat="item in collections.payConditions" ng-value="item">
                            {{item.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <span>&nbsp;</span>
                <!-- -->
                <md-input-container class="md-block">
                    <label>Mínimo de Días por Defecto</label>
                    <input ng-model="model.minimunDays" ng-number maxlength="3" ng-number-options="{integers:3}" required>
                </md-input-container>
            </div>
        </md-content>
    </md-sidenav>
    <!-- CONTENT -->
    <form name="form" ng-if="model.workOrder">
        <div layout="row">
            <div flex="25" class="left-box" layout-align="start center" layout="column">

                <img class="company" ng-src="bundles/app/components/flex-loading/css/images/isotipo.png" />
                <upload-file ng-model="model.workOrder.assignedTo.avatar" ng-disabled="true">
                </upload-file>
                <br />
                <br />
                <md-button class="md-raised md-accent" ng-click="panel.preferences(model)">
                    <md-icon md-svg-src="action:query_builder"></md-icon>
                    &nbsp;Ver Bitacora
                </md-button>
            </div>
            <div flex="75" layout-padding>
                <!-- ROW -->
                <div layout="row">
                    <!-- -->
                    <md-input-container class="md-block" flex="50">
                        <label>Componente</label>
                        <md-icon md-svg-icon="action:build" class="md-primary text"></md-icon>
                        <input ng-model="model.workOrder.component.name" readonly="">
                    </md-input-container>
                    <!-- -->
                    <spacer flex="5"></spacer>
                    <!-- -->
                    <md-input-container class="md-block" flex>
                        <label>Tipo</label>
                        <md-icon md-svg-icon="action:extension" class="md-primary text"></md-icon>
                        <input ng-model="model.workOrder.component.type" readonly="">
                    </md-input-container>
                    <!-- -->
                </div>
                <!-- ROW -->
                <div layout="row">
                    <!-- -->
                    <md-input-container class="md-block" flex="50">
                        <label>Asignado a</label>
                        <md-icon md-svg-icon="action:face" class="md-primary text"></md-icon>
                        <input ng-model="model.workOrder.assignedTo.name" readonly="">
                    </md-input-container>
                    <!-- -->
                    <spacer flex="5"></spacer>
                    <!-- -->
                    <md-input-container class="md-block" flex>
                        <label>Identificador Componente (Beacon)</label>
                        <md-icon md-svg-icon="action:perm_scan_wifi" class="md-primary text"></md-icon>
                        <input ng-model="model.workOrder.component.beacon" readonly="">
                    </md-input-container>
                    <!-- -->
                </div>
                <!-- ROW -->
                <div layout="row">
                    <!-- -->
                    <md-input-container class="md-block" flex="50">
                        <label>Estado Actual</label>
                        <md-icon md-svg-icon="action:bookmark_border" class="md-primary text"></md-icon>
                        <input ng-model="model.workOrder.state.name" readonly="">
                    </md-input-container>
                    <!-- -->
                    <spacer flex="5"></spacer>
                    <!-- -->
                    <md-input-container class="md-icon-float md-block  md-icon-left" >
                        <label>Fecha de Ejecución</label>
                        <md-icon md-svg-icon="action:today" class="md-primary text"></md-icon>
                        <gale-datepicker date-format="dddd D [de] MMMM" ng-model="model.workOrder.programmedAt" />
                    </md-input-container>
                    <!-- -->
                </div>
            </div>
        </div>
        <!-- BUTTON PAD -->
        <button-pad>
            <md-button aria-label="al" ng-click="back()" class="md-raised md-primary">
                {{ 'GLOBAL.NAVIGATION_BACK' | localize}}
            </md-button>
        </button-pad>
    </form>
</md-content>
