/* 
    SASS Mixins
*/
/*------------------------- 
VIEW:   Home Module
ROUTE:  /app/home/*
-------------------------*/
.dashboard {
  /* SPECIFIC's CONTENT */ }
  .dashboard > div {
    padding: 24px; }
    .dashboard > div .white-box {
      width: 100%;
      background: #FFF; }
      .dashboard > div .white-box.full {
        min-height: 520px;
        height: 100%; }
      .dashboard > div .white-box > div.title {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
        height: 40px;
        border-bottom: 1px solid #E4E4E4;
        align-items: center;
        padding: 4px 8px; }
        .dashboard > div .white-box > div.title > div.icon {
          width: 50px;
          padding-left: 4px; }
          .dashboard > div .white-box > div.title > div.icon > div {
            height: 33px;
            width: 33px;
            border-radius: 50%;
            background: #DCDCDC;
            padding: 0px; }
            .dashboard > div .white-box > div.title > div.icon > div > img {
              height: 100%; }
        .dashboard > div .white-box > div.title > div.title {
          -webkit-flex-basis: 100%;
          -moz-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
          color: #8A8A8A;
          font-size: 1em; }
        .dashboard > div .white-box > div.title > div.actions {
          width: 30px;
          text-align: right; }
      .dashboard > div .white-box > div.content {
        padding: 8px;
        height: 185px; }
  .dashboard .white-box div.content {
    /* PROGRESS CHART */
    /* COUNTER */
    /* WORK ORDER'S */ }
    .dashboard .white-box div.content .progress-chart {
      height: 8em;
      margin-top: 30px; }
      .dashboard .white-box div.content .progress-chart > .chart-container {
        padding-left: 24px;
        height: 100%; }
        .dashboard .white-box div.content .progress-chart > .chart-container > chart-legend {
          float: right;
          padding-right: 60px;
          margin-top: 13px; }
          .dashboard .white-box div.content .progress-chart > .chart-container > chart-legend ul > li {
            display: block; }
      .dashboard .white-box div.content .progress-chart chart-legend {
        display: block;
        margin-top: 20px; }
    .dashboard .white-box div.content .counter {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      cursor: pointer;
      height: 100%;
      width: 100%; }
      .dashboard .white-box div.content .counter > span {
        font-size: 4em; }
      .dashboard .white-box div.content .counter > div.legend {
        text-align: center; }
    .dashboard .white-box div.content.work-orders {
      padding: 0px; }
      .dashboard .white-box div.content.work-orders md-list {
        padding: 0px; }
        .dashboard .white-box div.content.work-orders md-list md-list-item {
          padding: 0px 8px;
          min-height: 60px;
          border-bottom: 1px solid #EFEFEF; }
          .dashboard .white-box div.content.work-orders md-list md-list-item div.state {
            cursor: pointer;
            margin-left: 5px;
            position: relative; }
            .dashboard .white-box div.content.work-orders md-list md-list-item div.state > avatar {
              display: block;
              width: 35px;
              height: 35px; }
              .dashboard .white-box div.content.work-orders md-list md-list-item div.state > avatar > div.halo {
                background-color: #FFF;
                border-radius: 50%;
                width: 100%;
                height: 100%; }
                .dashboard .white-box div.content.work-orders md-list md-list-item div.state > avatar > div.halo > div {
                  border-radius: 50%;
                  overflow: hidden;
                  height: 100%;
                  width: 100%;
                  background: #3F51B5; }
                  .dashboard .white-box div.content.work-orders md-list md-list-item div.state > avatar > div.halo > div > img {
                    width: 100%; }
            .dashboard .white-box div.content.work-orders md-list md-list-item div.state > div {
              position: absolute;
              right: 9px;
              top: 21px;
              border: 2px solid #FFF;
              height: 18px;
              width: 18px;
              padding: 0px;
              border-radius: 50%; }
          .dashboard .white-box div.content.work-orders md-list md-list-item div.information {
            cursor: pointer;
            padding-left: 4px; }
            .dashboard .white-box div.content.work-orders md-list md-list-item div.information > div.title {
              font-size: 1.15em; }
            .dashboard .white-box div.content.work-orders md-list md-list-item div.information > div.name {
              font-size: 0.8em;
              opacity: 0.7; }

/*# sourceMappingURL=home.css.map */
