@import "../../../bundles/app/css/_variables";
@import "../../../bundles/app/css/_flexbox";

/*------------------------- 
VIEW:   Home Module
ROUTE:  /app/home/*
-------------------------*/

.dashboard {
    > div {
        padding: 24px;
        .white-box {
            &.full {
                min-height: 520px;
                height: 100%;
            }
            width: 100%;
            
            background: #FFF;
            > div.title {
                @include flexbox();
                @include align-items(center);
                height: 40px;
                border-bottom: 1px solid #E4E4E4;
                align-items: center;
                padding: 4px 8px;
                > div.icon {
                    width: 50px;
                    padding-left: 4px;
                    > div {
                        height: 33px;
                        width: 33px;
                        border-radius: 50%;
                        background: #DCDCDC;
                        padding: 0px;
                        > img {
                            height: 100%;
                        }
                    }
                }
                > div.title {
                    @include flex-basis(100%);
                    color: #8A8A8A;
                    font-size: 1em;
                }
                > div.actions {
                    width: 30px;
                    text-align: right;
                }
            }
            > div.content {
                padding: 8px;
                height: 185px;
            }
        }
    }
    /* SPECIFIC's CONTENT */
    .white-box {
        div.content {
            /* PROGRESS CHART */
            .progress-chart {
                height: 8em;
                margin-top: 30px;
                > .chart-container {
                    padding-left: 24px;
                    height: 100%;
                    > chart-legend {
                        float: right;
                        padding-right: 60px;
                        margin-top: 13px;
                        ul {
                            > li {
                                display: block;
                            }
                        }
                    }
                }
                chart-legend {
                    display: block;
                    margin-top: 20px;
                }
            }
            /* COUNTER */
            .counter {
                @include flexbox();
                @include flex-direction(column);
                @include align-items(center);
                @include justify-content(center);
                cursor: pointer;
                height: 100%;
                width: 100%;
                > span {
                    font-size: 4em;
                }
                > div.legend {
                    text-align: center;
                }
            }
            /* WORK ORDER'S */
            &.work-orders {
                padding: 0px;
                md-list {
                    padding: 0px;
                    md-list-item {

                        padding: 0px 8px;
                        min-height: 60px;
                        border-bottom: 1px solid #EFEFEF;
                        div.state {
                            cursor: pointer;
                            margin-left: 5px;
                            position: relative;
                            > avatar {
                                display: block;
                                width: 35px;
                                height: 35px;
                                > div.halo {
                                    background-color: #FFF;
                                    border-radius: 50%;
                                    width: 100%;
                                    height: 100%;
                                    > div {
                                        border-radius: 50%;
                                        overflow: hidden;
                                        height: 100%;
                                        width: 100%;
                                        background: $primary_color;
                                        > img {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                            > div {
                                position: absolute;
                                right: 9px;
                                top: 21px;
                                border: 2px solid #FFF;
                                height: 18px;
                                width: 18px;
                                padding: 0px;
                                border-radius: 50%;
                            }
                        }
                        div.information {
                            cursor: pointer;
                            padding-left: 4px;
                            > div.title {
                                font-size: 1.15em;
                            }
                            > div.name {
                                font-size: 0.8em;
                                opacity: 0.7;
                            }
                        }
                    }
                }
            }
        }
    }
}
