/* 
    SASS Mixins
*/
notification-box {
  outline: none;
  display: block;
  padding-left: 12px; }
  notification-box .badge {
    cursor: pointer;
    outline: none;
    padding: 3px 3px;
    background: #FFF;
    position: absolute;
    color: #3F51B5;
    margin-top: -18px;
    border-radius: 50%;
    font-size: 0.65em;
    margin-left: 26px; }
    notification-box .badge.one-digit {
      padding: 2px 6px; }

md-menu-content.notification-menu {
  max-width: 320px;
  min-height: 375px; }
  md-menu-content.notification-menu > md-menu-item {
    min-height: 70px;
    height: 70px; }
    md-menu-content.notification-menu > md-menu-item p {
      white-space: normal;
      line-height: 1em;
      font-size: 0.95em;
      text-align: -webkit-left; }
  md-menu-content.notification-menu > .notification-empty {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    min-height: 375px;
    color: #ACACAC; }
    md-menu-content.notification-menu > .notification-empty > center > md-icon {
      height: 70px;
      width: 70px;
      display: block;
      color: inherit; }

/*# sourceMappingURL=notification-box.css.map */
