@import "../../../css/variables";
@import "../../../css/flexbox";
$menu_height: 375px;
$menu_width: 320px;
notification-box {
    outline: none;
    display: block;
    padding-left: 12px;
    .badge {
        cursor: pointer;
        outline: none;
        padding: 3px 3px;
        background: #FFF;
        position: absolute;
        color: #3F51B5;
        margin-top: -18px;
        border-radius: 50%;
        font-size: 0.65em;
        margin-left: 26px;
        &.one-digit {
            padding: 2px 6px;
        }
    }
}

md-menu-content.notification-menu {
    max-width: $menu_width;
    min-height: $menu_height;
    > md-menu-item {
        min-height: 70px;
        height: 70px;
        p {
            white-space: normal;
            line-height: 1em;
            font-size: 0.95em;
            text-align: -webkit-left;
        }
    }
    > .notification-empty {
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        min-height: $menu_height;
        color: #ACACAC;
        >center {
            > md-icon {
            	height: 70px;
            	width: 70px;
                display: block;
                color: inherit;
            }
        }
    }
}
