/* 
    SASS Mixins
*/
identity-box {
  outline: none;
  display: block;
  padding-left: 12px; }
  identity-box > div.anonymous .md-button.md-raised:not([disabled]) {
    box-shadow: none; }
  identity-box > div.authenticated {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center; }
    identity-box > div.authenticated > div.profile {
      font-size: 0.65em; }
      identity-box > div.authenticated > div.profile > div.name {
        padding-bottom: 2px; }
      identity-box > div.authenticated > div.profile > div.logout {
        text-align: right;
        outline: none; }
        identity-box > div.authenticated > div.profile > div.logout:hover {
          text-decoration: underline;
          cursor: pointer; }
    identity-box > div.authenticated > avatar {
      display: block;
      width: 35px;
      height: 35px;
      margin-left: 16px; }
      identity-box > div.authenticated > avatar > div.halo {
        background-color: #FFF;
        border-radius: 50%;
        width: 100%;
        height: 100%; }
        identity-box > div.authenticated > avatar > div.halo > div {
          border-radius: 50%;
          overflow: hidden;
          height: 100%;
          width: 100%;
          background: #3F51B5; }
          identity-box > div.authenticated > avatar > div.halo > div > img {
            width: 100%; }

/*# sourceMappingURL=identity-box.css.map */
