@import "../../../../css/variables";
@import "../../../../css/flexbox";
identity-box {
    outline: none;
    display: block;
    padding-left: 12px;
    > div.anonymous {
        .md-button {
            &.md-raised:not([disabled]) {
                box-shadow: none;
            }
        }
    }
    > div.authenticated {
        @include flexbox;
        @include flex-direction(row);
        @include align-items(center);
        @include justify-content(center);
        > div.profile {
            font-size: 0.65em;
            > div.name {
                padding-bottom: 2px;
            }
            > div.logout {
                text-align: right;
                outline: none;
                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
        > avatar {
            display: block;
            width: 35px;
            height: 35px;
            margin-left: 16px;
            > div.halo {
                background-color: #FFF;
                border-radius: 50%;
                width: 100%;
                height: 100%;
                > div {
                    border-radius: 50%;
                    overflow: hidden;
                    height: 100%;
                    width: 100%;
                    background: $primary_color;
                    > img {
                        width: 100%;
                    }
                }
            }
        }
    }
}
