<div layout-fill class="default-layout" layout="column">
    <!-- MAIN TOOLBAR -->
    <md-toolbar class="md-tall md-whiteframe-z1" flex="initial">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="al" ng-click="toogleMenu('layout-nav-left')">
                <md-icon md-svg-icon="navigation:menu"></md-icon>
            </md-button>
            <h2>
                <span>{{config.application.name}}</span>
            </h2>
        </div>
    </md-toolbar>
    <!-- CONTENT -->
    <md-content ui-view name="content" flex>
    </md-content>
</div>
