<!-- LINEAR PROGRESS -->
<md-progress-linear ng-if="data == null" md-mode="indeterminate" class="md-primary">
</md-progress-linear>
<!-- PRIMARY BUTTON -->
<primary-fab class="md-tall">
    <md-button class="md-fab" aria-label="ap" ng-click="back()">
        <md-tooltip md-direction="right">
            {{ 'GLOBAL.NAVIGATION_BACK' | localize }}
        </md-tooltip>
        <md-icon md-svg-src="hardware:keyboard_backspace"></md-icon>
    </md-button>
</primary-fab>
<!-- PAGE TITLE-->
<page-title>
    Crear Usuario
</page-title>
<md-content form-content class="accounts create">
    <!-- CONTENT -->
    <form name="form" ng-if="data">
        <div layout="row">
            <div flex="25" layout-align="start center" layout="column">
                <upload-file ng-model="data.avatar">
                </upload-file>
                <!-- -->
                <md-input-container>
                    <md-switch ng-checked="data.active" ng-click="data.active = !data.active" aria-label="al">
                        Usuario Activo
                    </md-switch>
                </md-input-container>
                <!-- -->
            </div>
            <div flex="75">
                <!-- -->
                <md-input-container class="md-block">
                    <label>Nombre Completo</label>
                    <input ng-model="data.fullname" required>
                </md-input-container>
                <!-- -->
                <md-input-container class="md-block">
                    <label>E-mail</label>
                    <input ng-model="data.email" required>
                </md-input-container>
                <!-- -->
                <md-content table-content class="inset">
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2>
                                <span>Perfiles Asignados</span>
                            </h2>
                            <span flex></span>
                            <md-button class="md-icon-button md-primary text" aria-label="al">
                                <md-icon md-svg-icon="action:info"></md-icon>
                                <md-tooltip md-direction="left">
                                    Permite acceder a las distintas caracteristicas del sistema
                                </md-tooltip>
                            </md-button>
                        </div>
                    </md-toolbar>
                    <!-- CONTENT -->
                    <div class="rows">
                        <div layout="row" ng-repeat="item in allRoles" class="rol-item"  ng-click="toggleRole(item, $event);">
                            <div flex="initial">
                                <md-switch ng-checked="item.selected" aria-label="al">
                                </md-switch>
                            </div>
                            <div flex="30">
                                {{item.name}}
                            </div>
                            <div flex>
                                {{item.description}}
                            </div>
                        </div>
                    </div>
                </md-content>
            </div>
        </div>
        <!-- BUTTON PAD -->
        <button-pad>
            <md-button type="button" ng-click="cancel(data)" aria-label="al">
                {{ 'GLOBAL.CANCEL_LABEL' | localize}}
            </md-button>
            <md-button ng-disabled="form.$invalid" aria-label="al" ng-click="save(data, $event)" class="md-raised md-primary">
                {{ 'GLOBAL.CREATE_LABEL' | localize}}
            </md-button>
        </button-pad>
    </form>
</md-content>
